body {
  background-image: url(pexels-coleito-3144214.jpg);
}

h1, .link-success {
    text-align: start;
    color: rgb(113, 245, 98);
}

  .mycontainer div {
    width: 25%;
    padding: 50px 50px 50px 50px;
    float:inline-start;
    color: rgb(84, 24, 5);
    background-color: rgb(89, 139, 18);
    border-style: ridge;
    border-color:rgb(5, 24, 1)
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(185, 114, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #0b5106;
  }